<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">{{'ROUTE_HOME' | translate}}</a></li>
    <li><a ng-href="#">{{'ROUTE_ABOUT' | translate}}</a></li>
    <li><a ng-href="#">{{'ROUTE_CONTACT' | translate}}</a></li>
  </ul>
  <h3 class="text-muted">{{'HOME_HEADER' | translate}}</h3>
</div>

<div class="jumbotron">
  <h1>{{'INTRO_LABEL_H1' | translate}}</h1> 
  <p class="lead">
    <img src="images/yeoman.png"><br>
    {{'INTRO_LABEL_H2' | translate}}
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">{{'MAIN_BUTTON_TEXT1' | translate}}<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <p translate="VARIABLE_REPLACEMENT1" translate-values="{LANGUAGE:'HTML'}"></p>
  <p>{{VARIABLE_REPLACEMENT2}}</p>

<div class="footer">
  
</div>